//Proje Tanımı: 3 adet dizi ekledim tabiki bu sayı arttırılabilir. Label üzerinden soru sorarız cevap doğru 
// ise doğru buttonuna yanlış ise yanlış button a basarız.Ardından bastıktan sonra sorumuz değişir başka soruya geçeriz.
// bu buttonlar a istediğiniz kadar basabilirsiniz kessinlikle kodun çökme olasılığı yoktur.
// Ne kadar eklerseniz soru o kadar faydalı olabilecek bir uygulama.
import UIKit

class ViewController: UIViewController {
    
    @IBOutlet weak var questionLabel: UILabel!
    @IBOutlet weak var progressBar: UIProgressView!
    @IBOutlet weak var trueButton: UIButton!
    @IBOutlet weak var falseButton: UIButton!
    
    let quiz = [
            ["2 ile 4 ün toplamı 6 dır.","Evet"],
            ["Bir kıza çıkma teklifi edecek özgüvenin yok","Hayır"],
           ["Kız Beni Seviyor mu","Hayır"]
    ]
    var questionNumber = 0
    override func viewDidLoad() {
        super.viewDidLoad()
        updateUI()
    }
    @IBAction func answerButtonPressed(_ sender:UIButton){
        
        let userAnswer = sender.currentTitle
        let actualAnswer = quiz[questionNumber][1]
        
        if userAnswer == actualAnswer{
            print("Evet")
        }else{
            print("Hayır")
        }
        if questionNumber + 1 < quiz.count{
            questionNumber += 1
        }else{
            questionNumber = 0
        }
        updateUI()
    }
    func updateUI(){
        questionLabel.text = quiz[questionNumber][0]
    }
}

iOSInjectionProject/
